<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/admin-template}">
<head>
	<title>Eshop | Admin</title>
	<!-- <th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/app/css1/bootstrap.min.css}" />
	</th:block> -->
</head>
<body>
	
	<div class="container" layout:fragment="content-body">
	 	<div class="row my-3">
	 		<div class="col-6">
	 			<h3>Products Detail</h3>
	 			<a th:href="@{/admin/product}"><img th:src="@{/admin/app/picture/product.jfif}" alt="" class="rounded mx-auto d-block"/>
	 			<span>Products</span></a>
	 		</div>
	 		<div class="col-6">
	 			<h3>Category Detail</h3>
	 			<a th:href="@{/admin/category}"><img th:src="@{/admin/app/picture/category.jfif}" alt="" class="rounded mx-auto d-block"/>
	 			<span>Category</span></a>
	 		</div>
	 	</div>
	 	<div class="row ">
	 		<div class="col-6">
	 			<h3>Orders Detail</h3>
	 			<a th:href="@{/admin/orders}"><img th:src="@{/admin/app/picture/images.png}" alt=""  class="rounded mx-auto d-block"/>Orders</a>
	 		</div>
	 		<div class="col-6">
	 			<h3>Orders Item</h3>
	 			<a th:href="@{/admin/orderItem}"><img th:src="@{/admin/app/picture/download.jfif}" alt=""  class="rounded mx-auto d-block"/>Orders</a>
	 		</div>
	 	</div>
	 	
	</div>
	
</body>
</html>